

 <head>
   <link rel="stylesheet" href="style1.css"/>
   
   
   <title>NUTRASSI-SIGNIN</title>
  </head>
  <body>
  <div class="main_div">
    <div class="title">Login Form</div>
    <form action="#">
      <div class="input_box">
        <input type="text" placeholder="Email or Phone" required>
        <div class="icon"><i class="fas fa-user"></i></div>
      </div>
      <div class="input_box">
        <input type="password" placeholder="Password" required>
        <div class="icon"><i class="fas fa-lock"></i></div>
      </div>
      <div class="option_div">
        <div class="check_box">
          <input type="checkbox">
          <span>Remember me</span>
        </div>
        <div class="forget_div">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div class="input_box button">
         <a href="file:///C:\Users\ADMIN\Documents\SPRINT55\NAA\template\index.html">
         <input type="submit" value="Login"></a>
      <div class="sign_up">
        Not a member? <a href="C:\Users\ADMIN\Documents\SPRINT55\NAA\template\signup.html">Signup now</a>
      </div>
      <div class="social_icons">
        <a href="#https://www.facebook.com/"><i class="facebook"></i> <span>Facebook</span></a>
        <a href="#https://accounts.google.com"><i class="gmail"></i><span>Gmail</span></a>
      </div>
    </form>
  </div>
  </body>